gspread-pandas==3.3.0
matplotlib==3.9.0
matplotlib-inline==0.1.7      
numpy==1.26.4
pandas==2.2.2
pandas-datareader==0.10.0     
pandas_ta==0.3.14b0
scikit-learn==1.5.1
seaborn==0.13.2
streamlit==1.37.0
streamlit-aggrid==1.0.5       
streamlit-autorefresh==1.0.1  
streamlit-option-menu==0.3.13 
streamlit-tags==1.2.8
streamlit-toggle-switch==1.0.2
yfinance==0.2.40
