altair
beautifulsoup4
gitpython
gspread
gspread-pandas
html5lib
lxml
matplotlib
numpy
pandas
pandas-datareader
protobuf
requests
scikit-learn
scipy
seaborn
yfinance
streamlit==1.20.0
streamlit-aggrid==0.3.3
